src/main/mule/merchant.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="merchant-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="merchant-config" api="merchant.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="merchant-main">
        <http:listener config-ref="merchant-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="merchant-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="merchant-console">
        <http:listener config-ref="merchant-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="merchant-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\merchant:application\json:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  MkChkMerchant: {
    MerchantId: 1,
    MID: "M1R000001",
    MerchantBusinessDetailId: 1,
    IsTcAccepted: true,
    TcAcceptedDateTime: "2019-01-06T00:00:00.000Z",
    MerchantTypeId: 7,
    MerchantCategoryId: 855,
    IsActive: true,
    ParentId: null,
    ISSuperMerchant: true,
    TerminalInformationId: null,
    Status: null,
    CreatedBy: 15148,
    UpdatedBy: 15148,
    IsRegWithProcessor: false,
    IsApproved: true,
    IsDraft: false,
    MerchantWorkflowId: 1,
    LimitProfileId: null,
    ApprovalStatus: null,
    InvoiceSequence: "00000000",
    IsRejected: null,
    BbbRatingId: 2,
    Complaints12Months: 0,
    Complaints36Months: 0,
    OFACReviewPassed: true,
    SiteVisitation: true,
    OnSiteVisitPerformed: true,
    ProductsAndServicesSold: "Auction Rooms",
    F2FTransactionsPer: 50,
    InternetTransactionsPer: 20,
    IsFSObtained: true,
    FSType: "Type",
    FSStatementEndDate: "2019-11-20T00:00:00.000Z",
    Cash: "Cash",
    FSNoOfMonths: 12,
    FSTotalRevenue: 22222,
    FSNetIncome: 22222,
    FSTotalAssets: 2222,
    FSTotalLiabilities: 22,
    FSTangibleNetWorth: 2222,
    FSWorkingCapital: 2222,
    FSCurrentRation: 2222,
    FSDebtToTNWRatio: "10",
    EcommerceIndicator: "Indicator",
    CityUrlPhone: "URL Phone",
    ResidentStatus: "Resident Status",
    SalesChannel: "Sales Channel",
    PricingType: "Type",
    BusinessToBusiness: 22,
    BusinessToConsumer: 22,
    Comment: null,
    FeeProfileId: 147,
    PhoneTransactionsPer: 20,
    EmailTransactionsPer: 0,
    POSorCardTransactionsPer: 0,
    FDMID: null,
    FDTID: null,
    FDTokenType: null,
    MerchantCode: "merchantCode",
    BusinessDetail: {
      MerchantBusinessDetailId: 1,
      BusinessName: "Updating Business Name",
      BusinessEmailID: "mdanjou@gocurrency.com",
      DBAStatementDesc: "Currency Pay",
      BusinessNameOnCard: "Business Name On Card",
      TaxIdNo: "12345678",
      ServicePhone: "+1 (888) 123-4567",
      YearsInBusiness: 20,
      Website: "www.currencypay.com",
      IsCreditCardAccepted: true,
      CreditCardSales: 20000,
      BusinessPhone: "+1 (888) 123-4567",
      Fax: "+1 (877) 123-4556",
      AddressLine1: "123 Main Street",
      AddressLine2: "AddressLine2",
      AddressLandMark: "Address Land Mark",
      City: "Los Angeles",
      Zip: "90025",
      BankRoutingNumber: "123456789",
      BankAccountNumber: "1111",
      BankDescription: "Bank description",
      IsApproved: true,
      FirstName: null,
      LastName: null,
      AverageTicketPrice: 1000,
      HighestTicketPrice: 5800,
      TaxFilingName: "Update CurrencyPay",
      IsBusinessForeignEntity: false,
      TinRequestedGuid: "12345678",
      EmployeeIdentificationNumber: "1234",
      YearsAtLocation: 20,
      YearIncorporated: 2018,
      VisaProcessing: true,
      MCProcessing: true,
      DiscoverProcessing: true,
      AmexProcessing: true,
      LegalContactName: "Matt",
      InstName: "Currency",
      Token: "Token",
      PercentDelivered0Days: 20,
      PercentDelivered7Days: 20,
      PercentDelivered14Days: 20,
      PercentDelivered30Days: 20,
      PercentDeliveredMore30Days: 20,
      BusinessType: {
        BusinessTypeId: 3,
        BusinessTypeName: "CORP"
      },
      Country: {
        CountryId: 1,
        CountryName: "US",
        CountryShortName: "US",
        CountryCode: null
      },
      State: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      },
      BankAccountType: {
        BankAccountTypeId: 3,
        BankAccountTypeName: "Corporate Checking"
      },
      BusinessContactType: {
        BusinessContactTypeId: 2,
        BusinessContactTypeName: "BILLING"
      },
      IncorporationState: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      }
    },
    MerchantType: {
      MerchantTypeId: 7,
      MerchantTypeName: "eCommerce",
      MerchantTypeDesc: null
    },
    MerchantCategory: {
      MerchantCategoryId: 1,
      MerchantCategoryCode: 5999,
      MerchantCategoryDesc: "Miscellaneous and Specialty Retail Stores"
    },
    MerchantWorkflow: {
      MerchantWorkflowId: 1,
      MerchantWorkDesc: "Created"
    },
    TerminalInformation: null,
    FeeProfile: {
      FeeProfileId: 1,
      FeeProfileName: "Profile1",
      SuccessfulFixed: 5000,
      SuccessfulVariable: 10,
      SuccessfulMinFee: 500,
      SuccessfulMaxFee: 1000,
      DeclinedFixed: 500000000,
      DeclinedVariable: 10,
      DeclinedMinFee: 500,
      DeclinedMaxFee: 1000,
      RefundFixed: 50000000,
      RefundVariable: 10,
      RefundMinFee: 500,
      RefundMaxFee: 1000,
      IsDeleted: true,
      IsApproved: true,
      ApprovedBy: 15169,
      ApprovedDateTime: "2019-11-13T12:25:15.723Z",
      IsRejected: null,
      RejectedBy: null,
      RejectedDateTime: null,
      Comment: null,
      CardFeeProfileTemplates: []
    },
    PaymentTypes: [
      {
        PaymentTypeId: 1,
        PaymentTypeName: "Credit/Debit Card",
        MkChkMerchantPaymentTypes: {
          MerchantPaymentTypeId: 2,
          PaymentTypeId: 1,
          MerchantID: 1,
          IsActive: null,
          CreatedBy: 15148,
          CreatedDateTime: "2020-03-03T09:28:41.043Z",
          UpdatedBy: null,
          UpdatedDateTime: null,
          IsApproved: null,
          ApprovedBy: null,
          ApprovedDateTime: null
        }
      }
    ],
    Owners: [
      {
        MerchantOwnerId: 5,
        FirstName: "Charles",
        LastName: "Last Name",
        DOB: "1980-09-21T00:00:00.000Z",
        SSN: "6789",
        BusinessTitle: "CEO",
        OwnershipPer: 9,
        DriverLicense: "1234567891011",
        Email: "username@gocurrency.com",
        PhoneNo: "+1 (888) 123-4567",
        AddAdditionalOwner: null,
        AddressLine1: "123 fake street",
        AddressLine2: "Address Line2",
        AddressLandMark: "Address Land Mark",
        City: "Los Angeles",
        Zip: "90066",
        IsApproved: true,
        IsCreditBureauReportAvailable: true,
        BureauScore: 90,
        IsGovernmentDocumentVerified: true,
        GovernmentDocuments: "Yes",
        IsThirdPartyDatabaseVerified: true,
        ThirdPartyDatabaseType: "Yes",
        MiddleName: "Middle Name",
        Title: "Mr.",
        Token: "Token",
        Country: {
          CountryId: 1,
          CountryName: "US",
          CountryShortName: "US",
          CountryCode: null
        },
        State: {
          StateId: 5,
          StateName: "California",
          StateCode: "94041",
          Abbreviation: "CA"
        },
        DrivingLicenseState: null,
        OwnerType: {
          OwnerTypeId: 2,
          OwnerTypeName: "Owner"
        }
      }
    ],
    L2L3Details: [
      {
        MerchantL2L3DetailId: 1,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: "12345",
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "Visa"
      }, 
      {
        MerchantL2L3DetailId: 2,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: "12345",
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "MasterCard"
      }, 
      {
        MerchantL2L3DetailId: 3,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: "12345",
        ShippingAmount: null,
        DutyAmount: null,
        OrderDiscount: null,
        Name: null,
        Description: null,
        CommodityCode: null,
        ProductCode: null,
        ItemPrice: null,
        ItemDiscount: null,
        Quantity: null,
        UnitofMeasure: null,
        ItemTotal: null,
        NetworkType: "Amex"
      }
    ],
    BbbRating: {
      BbbRatingId: 2,
      BbbRatingName: "A",
      RangeFrom: 94,
      RangeTo: 96.99
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\register\merchant:application\json:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "00",
  errorMessage: "Submitted successfully",
  responseCode: "00",
  orderId: "PRaE7",
  transactionId: null,
  merchantOnboardingFailureResponses: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\merchant:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  count: 301,
  rows: [
    {
      MerchantId: 1,
      MID: "M1R000001",
      ISSuperMerchant: true,
      CreatedDateTime: "2020-03-03 07:13:09.270Z",
      IsActive: true,
      FDTokenType: null,
      FDMID: null,
      BusinessDetail: {
        BusinessName: "Currency Pay",
        BusinessEmailID: "mdanjou@gocurrency.com",
        DBAStatementDesc: "Currency Pay"
      },
      MerchantWorkflow: {
        MerchantWorkflowId: 1,
        MerchantWorkDesc: "Created"
      }
    }, 
    {
      MerchantId: 2,
      MID: "M1R000002",
      ISSuperMerchant: true,
      CreatedDateTime: "2020-02-04T10:23:51.830Z",
      IsActive: true,
      FDTokenType: null,
      FDMID: null,
      BusinessDetail: {
        BusinessName: "Legal Business Name Updated",
        BusinessEmailID: "email@email.com",
        DBAStatementDesc: "Currency Pay"
      },
      MerchantWorkflow: {
        MerchantWorkflowId: 1,
        MerchantWorkDesc: "Created"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\merchant\(merchantId)\paymentInstrument:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="merchantId">attributes.uriParams.'merchantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  MerchantId: 1,
  PaymentTypes: [
    {
      PaymentTypeId: 1,
      PaymentTypeName: "Credit/Debit Card",
      MerchantPaymentTypes: {
        MerchantPaymentTypeId: 1,
        PaymentTypeId: 1,
        MerchantID: 1,
        IsActive: true,
        CreatedBy: 15148,
        CreatedDateTime: "2020-03-03T07:13:09.713Z",
        UpdatedBy: null,
        UpdatedDateTime: null,
        IsApproved: null,
        ApprovedBy: null,
        ApprovedDateTime: null
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\merchant\(merchantid):merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="merchantid">attributes.uriParams.'merchantid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Merchant: {
    MerchantId: 1,
    MID: "M1R000001",
    MerchantBusinessDetailId: 1,
    IsTcAccepted: true,
    TcAcceptedDateTime: "2019-01-06T00:00:00.000Z",
    MerchantTypeId: 7,
    MerchantCategoryId: 1,
    IsActive: false,
    ParentId: null,
    ISSuperMerchant: true,
    TerminalInformationId: null,
    Status: null,
    CreatedBy: 15148,
    UpdatedBy: 15148,
    IsRegWithProcessor: false,
    IsApproved: true,
    IsDraft: false,
    MerchantWorkflowId: 1,
    LimitProfileId: null,
    ApprovalStatus: "Approving Merchant",
    InvoiceSequence: "00000000",
    IsRejected: null,
    BbbRatingId: 2,
    Complaints12Months: 0,
    Complaints36Months: 0,
    OFACReviewPassed: true,
    SiteVisitation: true,
    OnSiteVisitPerformed: true,
    ProductsAndServicesSold: "Auction Rooms",
    F2FTransactionsPer: 50,
    InternetTransactionsPer: 100,
    IsFSObtained: true,
    FSType: "Bank Statement",
    FSStatementEndDate: "2019-10-31T00:00:00.000Z",
    Cash: "Yes",
    FSNoOfMonths: 6,
    FSTotalRevenue: 1000000000,
    FSNetIncome: 1000000000,
    FSTotalAssets: 1000000000,
    FSTotalLiabilities: 1000000000,
    FSTangibleNetWorth: 1000000000,
    FSWorkingCapital: 1000000000,
    FSCurrentRation: 1000000000,
    FSDebtToTNWRatio: "4",
    EcommerceIndicator: "6",
    CityUrlPhone: "Los Angeles",
    ResidentStatus: "Citizen",
    SalesChannel: "Ecomm",
    PricingType: "20",
    BusinessToBusiness: 80,
    BusinessToConsumer: 80,
    Comment: null,
    FeeProfileId: 147,
    PhoneTransactionsPer: 0,
    EmailTransactionsPer: 0,
    POSorCardTransactionsPer: 0,
    FDMID: null,
    FDTID: null,
    FDTokenType: null,
    MerchantCode: "merchantCode",
    BusinessDetail: {
      MerchantBusinessDetailId: 1,
      BusinessName: "Currency Pay",
      BusinessEmailID: "mdanjou@gocurrency.com",
      DBAStatementDesc: "Currency Pay",
      BusinessNameOnCard: "Business Name On Card",
      TaxIdNo: "12345678",
      ServicePhone: "+1 (888) 123-4567",
      YearsInBusiness: 20,
      Website: "www.currencypay.com",
      IsCreditCardAccepted: true,
      CreditCardSales: 20000,
      BusinessPhone: "+1 (888) 123-4567",
      Fax: "+1 (877) 123-4556",
      AddressLine1: "123 Main Street",
      AddressLine2: "AddressLine2",
      AddressLandMark: null,
      City: "Los Angeles",
      Zip: "90025",
      BankRoutingNumber: "123456789",
      BankAccountNumber: "1111",
      BankDescription: null,
      IsApproved: true,
      FirstName: null,
      LastName: null,
      AverageTicketPrice: 1000,
      HighestTicketPrice: 5800,
      TaxFilingName: "CurrencyPay",
      IsBusinessForeignEntity: false,
      TinRequestedGuid: "12345678",
      EmployeeIdentificationNumber: "1234",
      YearsAtLocation: 20,
      YearIncorporated: 2018,
      VisaProcessing: true,
      MCProcessing: true,
      DiscoverProcessing: true,
      AmexProcessing: true,
      LegalContactName: "Matt",
      InstName: "Currency",
      Token: "Token",
      PercentDelivered0Days: 20,
      PercentDelivered7Days: 20,
      PercentDelivered14Days: 20,
      PercentDelivered30Days: 20,
      PercentDeliveredMore30Days: 20,
      BusinessType: {
        BusinessTypeId: 3,
        BusinessTypeName: "CORP"
      },
      Country: {
        CountryId: 1,
        CountryName: "US",
        CountryShortName: "US",
        CountryCode: null
      },
      State: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      },
      BankAccountType: {
        BankAccountTypeId: 3,
        BankAccountTypeName: "Corporate Checking"
      },
      BusinessContactType: {
        BusinessContactTypeId: 2,
        BusinessContactTypeName: "BILLING"
      },
      IncorporationState: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      }
    },
    MerchantType: {
      MerchantTypeId: 7,
      MerchantTypeName: "eCommerce",
      MerchantTypeDesc: null
    },
    MerchantCategory: {
      MerchantCategoryId: 1,
      MerchantCategoryCode: 5999,
      MerchantCategoryDesc: "Miscellaneous and Specialty Retail Stores"
    },
    MerchantWorkflow: {
      MerchantWorkflowId: 1,
      MerchantWorkDesc: "Created"
    },
    TerminalInformation: null,
    LimitProfile: null,
    FeeProfile: {
      FeeProfileId: 1,
      FeeProfileName: "Profile1",
      SuccessfulFixed: 5000,
      SuccessfulVariable: 10,
      SuccessfulMinFee: 500,
      SuccessfulMaxFee: 1000,
      DeclinedFixed: 500000000,
      DeclinedVariable: 10,
      DeclinedMinFee: 500,
      DeclinedMaxFee: 1000,
      RefundFixed: 50000000,
      RefundVariable: 10,
      RefundMinFee: 500,
      RefundMaxFee: 1000,
      IsDeleted: true,
      IsApproved: true,
      ApprovedBy: 15169,
      ApprovedDateTime: "2019-11-13T12:25:15.723Z",
      IsRejected: null,
      RejectedBy: null,
      RejectedDateTime: null,
      Comment: null,
      CardFeeProfileTemplates: []
    },
    PaymentTypes: [
      {
        PaymentTypeId: 1,
        PaymentTypeName: "Credit/Debit Card",
        MerchantPaymentTypes: {
          MerchantPaymentTypeId: 1,
          PaymentTypeId: 1,
          MerchantID: 1,
          IsActive: true,
          CreatedBy: 15148,
          CreatedDateTime: "2020-03-03T07:13:09.713Z",
          UpdatedBy: null,
          UpdatedDateTime: null,
          IsApproved: null,
          ApprovedBy: null,
          ApprovedDateTime: null
        }
      }
    ],
    Owners: [
      {
        MerchantOwnerId: 5,
        FirstName: "Charles",
        LastName: "Last Name",
        DOB: "1970-09-21T00:00:00.000Z",
        SSN: "6789",
        BusinessTitle: "CEO",
        OwnershipPer: 9,
        DriverLicense: "1234567891011",
        Email: "username@gocurrency.com",
        PhoneNo: "+1 (888) 123-4567",
        AddAdditionalOwner: null,
        AddressLine1: "123 fake street",
        AddressLine2: "Address Line2",
        AddressLandMark: null,
        City: "Los Angeles",
        Zip: "90066",
        IsApproved: true,
        IsCreditBureauReportAvailable: true,
        BureauScore: 90,
        IsGovernmentDocumentVerified: true,
        GovernmentDocuments: "Yes",
        IsThirdPartyDatabaseVerified: true,
        ThirdPartyDatabaseType: "Yes",
        MiddleName: "Middle Name",
        Title: "Mr.",
        Token: "Token",
        Country: {
          CountryId: 1,
          CountryName: "US",
          CountryShortName: "US",
          CountryCode: null
        },
        State: {
          StateId: 5,
          StateName: "California",
          StateCode: "94041",
          Abbreviation: "CA"
        },
        DrivingLicenseState: null,
        OwnerType: {
          OwnerTypeId: 2,
          OwnerTypeName: "Owner"
        }
      }
    ],
    L2L3Details: [
      {
        MerchantL2L3DetailId: 1,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "Visa"
      }, 
      {
        MerchantL2L3DetailId: 2,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "MasterCard"
      }, 
      {
        MerchantL2L3DetailId: 3,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: null,
        DutyAmount: null,
        OrderDiscount: null,
        Name: null,
        Description: null,
        CommodityCode: null,
        ProductCode: null,
        ItemPrice: null,
        ItemDiscount: null,
        Quantity: null,
        UnitofMeasure: null,
        ItemTotal: null,
        NetworkType: "Amex"
      }
    ],
    BbbRating: {
      BbbRatingId: 2,
      BbbRatingName: "A",
      RangeFrom: 94,
      RangeTo: 96.99
    }
  },
  MkChkMerchant: {
    MerchantId: 1,
    MID: "M1R000001",
    MerchantBusinessDetailId: 1,
    IsTcAccepted: true,
    TcAcceptedDateTime: "2019-01-06T00:00:00.000Z",
    MerchantTypeId: 7,
    MerchantCategoryId: 1,
    IsActive: false,
    ParentId: null,
    ISSuperMerchant: true,
    TerminalInformationId: null,
    Status: null,
    CreatedBy: 15148,
    UpdatedBy: 15148,
    IsRegWithProcessor: false,
    IsApproved: true,
    IsDraft: false,
    MerchantWorkflowId: 1,
    LimitProfileId: null,
    ApprovalStatus: "Approving Merchant",
    InvoiceSequence: "00000000",
    IsRejected: null,
    BbbRatingId: 2,
    Complaints12Months: 0,
    Complaints36Months: 0,
    OFACReviewPassed: true,
    SiteVisitation: true,
    OnSiteVisitPerformed: true,
    ProductsAndServicesSold: "Auction Rooms",
    F2FTransactionsPer: 50,
    InternetTransactionsPer: 100,
    IsFSObtained: true,
    FSType: "Bank Statement",
    FSStatementEndDate: "2019-10-31T00:00:00.000Z",
    Cash: "Yes",
    FSNoOfMonths: 6,
    FSTotalRevenue: 1000000000,
    FSNetIncome: 1000000000,
    FSTotalAssets: 1000000000,
    FSTotalLiabilities: 1000000000,
    FSTangibleNetWorth: 1000000000,
    FSWorkingCapital: 1000000000,
    FSCurrentRation: 1000000000,
    FSDebtToTNWRatio: "4",
    EcommerceIndicator: "6",
    CityUrlPhone: "Los Angeles",
    ResidentStatus: "Citizen",
    SalesChannel: "Ecomm",
    PricingType: "20",
    BusinessToBusiness: 80,
    BusinessToConsumer: 80,
    Comment: null,
    FeeProfileId: 147,
    PhoneTransactionsPer: 0,
    EmailTransactionsPer: 0,
    POSorCardTransactionsPer: 0,
    FDMID: null,
    FDTID: null,
    FDTokenType: null,
    MerchantCode: null,
    BusinessDetail: {
      MerchantBusinessDetailId: 1,
      BusinessName: "Currency Pay",
      BusinessEmailID: "mdanjou@gocurrency.com",
      DBAStatementDesc: "Currency Pay",
      BusinessNameOnCard: "MMIS DBA 123412312",
      TaxIdNo: "12345678",
      ServicePhone: "+1 (888) 123-4567",
      YearsInBusiness: 20,
      Website: "www.currencypay.com",
      IsCreditCardAccepted: true,
      CreditCardSales: 20000,
      BusinessPhone: "+1 (888) 123-4567",
      Fax: "+1 (877) 123-4556",
      AddressLine1: "123 Main Street",
      AddressLine2: "AddressLine2",
      AddressLandMark: null,
      City: "Los Angeles",
      Zip: "90025",
      BankRoutingNumber: "021000021",
      BankAccountNumber: "1111",
      BankDescription: "Bank description",
      IsApproved: true,
      FirstName: null,
      LastName: null,
      AverageTicketPrice: 1000,
      HighestTicketPrice: 5800,
      TaxFilingName: "CurrencyPay",
      IsBusinessForeignEntity: false,
      TinRequestedGuid: "12345678",
      EmployeeIdentificationNumber: "123456789",
      YearsAtLocation: 20,
      YearIncorporated: 2018,
      VisaProcessing: true,
      MCProcessing: true,
      DiscoverProcessing: true,
      AmexProcessing: true,
      LegalContactName: "Matt",
      InstName: "Currency",
      Token: "Token",
      PercentDelivered0Days: 20,
      PercentDelivered7Days: 20,
      PercentDelivered14Days: 20,
      PercentDelivered30Days: 20,
      PercentDeliveredMore30Days: 20,
      BusinessType: {
        BusinessTypeId: 3,
        BusinessTypeName: "CORP"
      },
      Country: {
        CountryId: 1,
        CountryName: "US",
        CountryShortName: "US",
        CountryCode: null
      },
      State: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      },
      BankAccountType: {
        BankAccountTypeId: 3,
        BankAccountTypeName: "Corporate Checking"
      },
      BusinessContactType: {
        BusinessContactTypeId: 2,
        BusinessContactTypeName: "BILLING"
      },
      IncorporationState: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      }
    },
    MerchantType: {
      MerchantTypeId: 7,
      MerchantTypeName: "eCommerce",
      MerchantTypeDesc: null
    },
    MerchantCategory: {
      MerchantCategoryId: 1,
      MerchantCategoryCode: 5999,
      MerchantCategoryDesc: "Miscellaneous and Specialty Retail Stores"
    },
    MerchantWorkflow: {
      MerchantWorkflowId: 1,
      MerchantWorkDesc: "Created"
    },
    TerminalInformation: null,
    LimitProfile: null,
    FeeProfile: {
      FeeProfileId: 1,
      FeeProfileName: "Profile1",
      SuccessfulFixed: 5000,
      SuccessfulVariable: 10,
      SuccessfulMinFee: 500,
      SuccessfulMaxFee: 1000,
      DeclinedFixed: 500000000,
      DeclinedVariable: 10,
      DeclinedMinFee: 500,
      DeclinedMaxFee: 1000,
      RefundFixed: 50000000,
      RefundVariable: 10,
      RefundMinFee: 500,
      RefundMaxFee: 1000,
      IsDeleted: true,
      IsApproved: true,
      ApprovedBy: 15169,
      ApprovedDateTime: "2019-11-13T12:25:15.723Z",
      IsRejected: null,
      RejectedBy: null,
      RejectedDateTime: null,
      Comment: null,
      CardFeeProfileTemplates: []
    },
    PaymentTypes: [
      {
        PaymentTypeId: 1,
        PaymentTypeName: "Credit/Debit Card",
        MkChkMerchantPaymentTypes: {
          MerchantPaymentTypeId: 2,
          PaymentTypeId: 1,
          MerchantID: 1,
          IsActive: true,
          CreatedBy: 15148,
          CreatedDateTime: "2020-03-03T07:13:09.713Z",
          UpdatedBy: null,
          UpdatedDateTime: null,
          IsApproved: null,
          ApprovedBy: null,
          ApprovedDateTime: null
        }
      }
    ],
    Owners: [
      {
        MerchantOwnerId: 5,
        FirstName: "Charles",
        LastName: "Last Name",
        DOB: "1970-09-21T00:00:00.000Z",
        SSN: "6789",
        BusinessTitle: "CEO",
        OwnershipPer: 9,
        DriverLicense: "1234567891011",
        Email: "username@gocurrency.com",
        PhoneNo: "+1 (888) 123-4567",
        AddAdditionalOwner: null,
        AddressLine1: "123 fake street",
        AddressLine2: "Address Line2",
        AddressLandMark: null,
        City: "Los Angeles",
        Zip: "90066",
        IsApproved: true,
        IsCreditBureauReportAvailable: true,
        BureauScore: 90,
        IsGovernmentDocumentVerified: true,
        GovernmentDocuments: "Yes",
        IsThirdPartyDatabaseVerified: true,
        ThirdPartyDatabaseType: "Yes",
        MiddleName: "Middle Name",
        Title: "Mr.",
        Token: "Token",
        Country: {
          CountryId: 1,
          CountryName: "US",
          CountryShortName: "US",
          CountryCode: null
        },
        State: {
          StateId: 5,
          StateName: "California",
          StateCode: "94041",
          Abbreviation: "CA"
        },
        DrivingLicenseState: null,
        OwnerType: {
          OwnerTypeId: 2,
          OwnerTypeName: "Owner"
        }
      }
    ],
    L2L3Details: [
      {
        MerchantL2L3DetailId: 1,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "Visa"
      }, 
      {
        MerchantL2L3DetailId: 2,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "MasterCard"
      }, 
      {
        MerchantL2L3DetailId: 3,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 12345,
        ShippingAmount: null,
        DutyAmount: null,
        OrderDiscount: null,
        Name: null,
        Description: null,
        CommodityCode: null,
        ProductCode: null,
        ItemPrice: null,
        ItemDiscount: null,
        Quantity: null,
        UnitofMeasure: null,
        ItemTotal: null,
        NetworkType: "Amex"
      }
    ],
    BbbRating: {
      BbbRatingId: 2,
      BbbRatingName: "A",
      RangeFrom: 94,
      RangeTo: 96.99
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\search\merchant:application\json:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  count: 1,
  rows: [
    {
      MerchantId: 1,
      MID: "M1R000001",
      ISSuperMerchant: true,
      CreatedDateTime: "2020-03-03 07:13:09.270Z",
      IsActive: true,
      ParentId: null,
      FDTokenType: null,
      FDMID: null,
      BusinessDetail: {
        BusinessName: "Currency Pay",
        BusinessEmailID: "mdanjou@gocurrency.com",
        DBAStatementDesc: "Currency Pay"
      },
      MerchantWorkflow: {
        MerchantWorkflowId: 1,
        MerchantWorkDesc: "Created"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\merchant:application\json:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  MkChkMerchant: {
    MerchantId: 1,
    MID: "M1R000001",
    MerchantBusinessDetailId: 1,
    IsTcAccepted: true,
    TcAcceptedDateTime: "2019-01-06T00:00:00.000Z",
    MerchantTypeId: 7,
    MerchantCategoryId: 1,
    IsActive: false,
    ParentId: null,
    ISSuperMerchant: true,
    TerminalInformationId: null,
    Status: null,
    CreatedBy: 15148,
    UpdatedBy: 15148,
    IsRegWithProcessor: false,
    IsApproved: true,
    IsDraft: false,
    MerchantWorkflowId: 1,
    LimitProfileId: null,
    ApprovalStatus: null,
    InvoiceSequence: "00000000",
    IsRejected: null,
    BbbRatingId: 2,
    Complaints12Months: 0,
    Complaints36Months: 0,
    OFACReviewPassed: true,
    SiteVisitation: true,
    OnSiteVisitPerformed: true,
    ProductsAndServicesSold: "Auction Rooms",
    F2FTransactionsPer: 50,
    InternetTransactionsPer: 100,
    IsFSObtained: true,
    FSType: "Bank Statement",
    FSStatementEndDate: "2019-10-31T00:00:00.000Z",
    Cash: "Yes",
    FSNoOfMonths: 6,
    FSTotalRevenue: 1000000000,
    FSNetIncome: 1000000000,
    FSTotalAssets: 1000000000,
    FSTotalLiabilities: 1000000000,
    FSTangibleNetWorth: 1000000000,
    FSWorkingCapital: 1000000000,
    FSCurrentRation: 1000000000,
    FSDebtToTNWRatio: "4",
    EcommerceIndicator: "6",
    CityUrlPhone: "Los Angeles",
    ResidentStatus: "Citizen",
    SalesChannel: "Ecomm",
    PricingType: "20",
    BusinessToBusiness: 80,
    BusinessToConsumer: 80,
    Comment: null,
    FeeProfileId: 1,
    PhoneTransactionsPer: 0,
    EmailTransactionsPer: 0,
    POSorCardTransactionsPer: 0,
    FDMID: null,
    FDTID: null,
    FDTokenType: null,
    MerchantCode: "merchantCode",
    BusinessDetail: {
      MerchantBusinessDetailId: 1,
      BusinessName: "Currency Pay",
      BusinessEmailID: "mdanjou@gocurrency.com",
      DBAStatementDesc: "Currency Pay",
      BusinessNameOnCard: "Business Name On Card",
      TaxIdNo: "12345678",
      ServicePhone: "+1 (888) 123-4567",
      YearsInBusiness: 20,
      Website: "www.currencypay.com",
      IsCreditCardAccepted: true,
      CreditCardSales: 20000,
      BusinessPhone: "+1 (888) 123-4567",
      Fax: "+1 (877) 123-4556",
      AddressLine1: "123 Main Street",
      AddressLine2: "addressLine2",
      AddressLandMark: null,
      City: "Los Angeles",
      Zip: "90025",
      BankRoutingNumber: "123456789",
      BankAccountNumber: "1111",
      BankDescription: "Bank Description",
      IsApproved: true,
      FirstName: null,
      LastName: null,
      AverageTicketPrice: 1000,
      HighestTicketPrice: 5800,
      TaxFilingName: "CurrencyPay",
      IsBusinessForeignEntity: false,
      TinRequestedGuid: "12345678",
      EmployeeIdentificationNumber: "123456789",
      YearsAtLocation: 20,
      YearIncorporated: 2018,
      VisaProcessing: true,
      MCProcessing: true,
      DiscoverProcessing: true,
      AmexProcessing: true,
      LegalContactName: "Matt",
      InstName: "Currency",
      Token: "Token",
      PercentDelivered0Days: 20,
      PercentDelivered7Days: 20,
      PercentDelivered14Days: 20,
      PercentDelivered30Days: 20,
      PercentDeliveredMore30Days: 20,
      BusinessType: {
        BusinessTypeId: 3,
        BusinessTypeName: "CORP"
      },
      Country: {
        CountryId: 1,
        CountryName: "US",
        CountryShortName: "US",
        CountryCode: null
      },
      State: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      },
      BankAccountType: {
        BankAccountTypeId: 3,
        BankAccountTypeName: "Corporate Checking"
      },
      BusinessContactType: {
        BusinessContactTypeId: 2,
        BusinessContactTypeName: "BILLING"
      },
      IncorporationState: {
        StateId: 5,
        StateName: "California",
        StateCode: "94041",
        Abbreviation: "CA"
      }
    },
    MerchantType: {
      MerchantTypeId: 7,
      MerchantTypeName: "eCommerce",
      MerchantTypeDesc: null
    },
    MerchantCategory: {
      MerchantCategoryId: 1,
      MerchantCategoryCode: 5999,
      MerchantCategoryDesc: "Miscellaneous and Specialty Retail Stores"
    },
    MerchantWorkflow: {
      MerchantWorkflowId: 1,
      MerchantWorkDesc: "Created"
    },
    TerminalInformation: null,
    LimitProfile: null,
    FeeProfile: {
      FeeProfileId: 1,
      FeeProfileName: "Profile1",
      SuccessfulFixed: 5000,
      SuccessfulVariable: 10,
      SuccessfulMinFee: 500,
      SuccessfulMaxFee: 1000,
      DeclinedFixed: 500000000,
      DeclinedVariable: 10,
      DeclinedMinFee: 500,
      DeclinedMaxFee: 1000,
      RefundFixed: 50000000,
      RefundVariable: 10,
      RefundMinFee: 500,
      RefundMaxFee: 1000,
      IsDeleted: true,
      IsApproved: true,
      ApprovedBy: 15169,
      ApprovedDateTime: "2019-11-13T12:25:15.723Z",
      IsRejected: null,
      RejectedBy: null,
      RejectedDateTime: null,
      Comment: null,
      CardFeeProfileTemplates: []
    },
    PaymentTypes: [
      {
        PaymentTypeId: 1,
        PaymentTypeName: "Credit/Debit Card",
        MkChkMerchantPaymentTypes: {
          MerchantPaymentTypeId: 1,
          PaymentTypeId: 1,
          MerchantID: 1,
          IsActive: true,
          CreatedBy: 15148,
          CreatedDateTime: "2020-03-03T07:13:09.713Z",
          UpdatedBy: null,
          UpdatedDateTime: null,
          IsApproved: null,
          ApprovedBy: null,
          ApprovedDateTime: null
        }
      }
    ],
    Owners: [
      {
        MerchantOwnerId: 5,
        FirstName: "Charles",
        LastName: "Last Name",
        DOB: "1970-09-21T00:00:00.000Z",
        SSN: "6789",
        BusinessTitle: "CEO",
        OwnershipPer: 9,
        DriverLicense: "1234567891011",
        Email: "username@gocurrency.com",
        PhoneNo: "+1 (888) 123-4567",
        AddAdditionalOwner: null,
        AddressLine1: "123 fake street",
        AddressLine2: "Address Line2",
        AddressLandMark: null,
        City: "Los Angeles",
        Zip: "90066",
        IsApproved: true,
        IsCreditBureauReportAvailable: true,
        BureauScore: 90,
        IsGovernmentDocumentVerified: true,
        GovernmentDocuments: "Yes",
        IsThirdPartyDatabaseVerified: true,
        ThirdPartyDatabaseType: "Yes",
        MiddleName: "Middle Name",
        Title: "Mr.",
        Token: "Token",
        Country: {
          CountryId: 1,
          CountryName: "US",
          CountryShortName: "US",
          CountryCode: null
        },
        State: {
          StateId: 5,
          StateName: "California",
          StateCode: "94041",
          Abbreviation: "CA"
        },
        DrivingLicenseState: null,
        OwnerType: {
          OwnerTypeId: 2,
          OwnerTypeName: "Owner"
        }
      }
    ],
    L2L3Details: [
      {
        MerchantL2L3DetailId: 1,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 1,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "Visa"
      }, 
      {
        MerchantL2L3DetailId: 2,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 1,
        ShippingAmount: "1",
        DutyAmount: "1",
        OrderDiscount: "1",
        Name: "Trailer",
        Description: "Parts",
        CommodityCode: "929",
        ProductCode: "099 0",
        ItemPrice: "100",
        ItemDiscount: "1",
        Quantity: "1",
        UnitofMeasure: "Each",
        ItemTotal: "100",
        NetworkType: "MasterCard"
      }, 
      {
        MerchantL2L3DetailId: 3,
        MerchantId: 1,
        Tax: "1",
        OrderNumber: 1,
        ShippingAmount: null,
        DutyAmount: null,
        OrderDiscount: null,
        Name: null,
        Description: null,
        CommodityCode: null,
        ProductCode: null,
        ItemPrice: null,
        ItemDiscount: null,
        Quantity: null,
        UnitofMeasure: null,
        ItemTotal: null,
        NetworkType: "Amex"
      }
    ],
    BbbRating: {
      BbbRatingId: 2,
      BbbRatingName: "A",
      RangeFrom: 94,
      RangeTo: 96.99
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\merchant\onBoardingStatus:application\json:merchant-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseId: null,
  errorCode: "00",
  errorMessage: "Approval in progress",
  responseCode: "00",
  fdmid: null,
  status: "Approval in progress",
  transactionId: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
